<p>Olá,</p>

<p>Temos um novo pedido de parceria, seguem os dados:</p>
<p>Nome da Instituição: <%= @name %></p>
<p>Responsável: <%= @responsible %></p>
<p>Email: <%= @email %></p>
<p>Sobre: <%= @about %></p>


