<p>Olá,</p>

<p>Temos um novo pedido de parceria, seguem os dados:</p>
<p>Nome da Instituição: <%= @nome %></p>
<p>Responsável: <%= @responsavel %></p>
<p>Email: <%= @email %></p>
<p>Sobre: <%= @sobre %></p>


