<p>Olá,</p>

<p>Temos um novo pedido de parceria, seguem os dados:</p>
<p>Nome da Instituição: <%= @partner.name %></p>
<p>Responsável: <%= @partner.responsible %></p>
<p>Email: <%= @partner.email %></p>
<p>Sobre: <%= @partner.about %></p>


