<div class="container center">
  <p style="font-size: 35px;">Perfil do Professor</p>
</div>

<div class="container">      
    <div class="row">
        <h5><b>Nome: </b> <%= @user.name %> </h5>       
    </div> 
   
    <div class="row">
        <h5><b>Email: </b> <%= @user.email %> </h5>       
    </div>      

    <div class="row">
        <h7><b>Mini Curriculum: </b> <%= @user.mini_cv %> </h7>       
    </div>    
 
    <div class="row center">
        <%= link_to "Voltar", :back, class: "waves-effect waves-light btn #{BACK_BUTTONS_COLOR}" %>        
    </div>  
</div>


