<div>

    <p style="font-size: 35px;">Editais</p>   
    <div class="row">
        <% if current_user and current_user.admin? %>
            <%= link_to new_notice_path, class: "btn-floating btn-large waves-effect waves-light right #{PRIMARY_BUTTONS_COLOR}" do %>
                <%= material_icon.add %>
            <% end %> 
        <% end %> 
    </div> 

    <div class="row">
        <%= render @notices %>     
    </div>   

    <div class="row center">
        <%= paginate @notices, window: 2 %>
    </div>
    
</div>