<h1>Olá, <%= @user.name %>!</h1>

<p>Seja bem-vindo ao Elabore!</p>

<p>Para acessar nossa plataforma utilize seu email: <%= @user.email %></p>
<p>E sua senha: <%= @password %></p>

<p>Para sua segurança, não esqueça de mudar sua senha no primeiro acesso.</p>
<p>Por favor, não esqueça de atualizar suas informações!</p>

<p>Obrigado,</p>
<p>Equipe Elabore.</p>
