<div class="container center">
  <p style="font-size: 35px;">Pedidos de Parceria</p>
</div>

<div class="center">  

    <table class="highlight bordered responsive-table">
        
        <head>
            <tr>
                <th>Nome</th>
                <th>Responsável</th>
                <th>Email</th>                
                <th>Confirmado?</th>
                <th></th>
            </tr>
        </head>
         
        <%= render @partners %>

    </table>   

    <div>
        <%= paginate @partners, window: 2%>
    </div>     

     
  
</div>


