
    <div class="center" style="padding-top: 20px;">   
        <%= image_tag "logo.png", size: '500x550' %>
    </div>    
    
    <div class="row">
        <div class="col s12 m12">
          <div class="card light-blue accent-4">
            <div class="card-content white-text">
                <span class="card-title" style="font-size: 25px;"><b>Um novo terceiro setor</b></span>
                <p style="font-size: 18px;">
                    O terceiro setor surgiu no Brasil em 1990 mudando o conceito do serviço social com base à caridade e à filantropia. Evidência notada na multiplicação de ONGs criadas para prestar serviço público em todas as áreas.
                    Uma área de atuação específica na sociedade que tem um funcionamento e objetivos próprios e que nascem com intenções únicas e valores diferentes do campo organizacional, mas que nem por isso não devem usar de recursos da administração empresarial. Com o crescimento do terceiro setor surgiram desafios para a confirmação de sua existência - legitimação, eficácia, cooperação e sustentabilidade.
                    Com o aumento do terceiro setor, aliado às leis e ao conceito de responsabilidade social e fiscal, surge a necessidade do aperfeiçoamento e realização sem que se perca sua real missão, visão e valores e ao mesmo tempo se adequar a nova demanda do setor organizacional e público.
                    De natureza privada e finalidade pública as ONGs não podem perder a missão humana e sociocultural, mas precisam ter uma gestão atual.
                </p>
            </div>            
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
          <div class="card light-blue accent-4">
            <div class="card-content white-text">
                <span class="card-title" style="font-size: 25px;"><b>Dar condições para que o terceiro setor possa se sustentar e colocar os projetos em ação</b></span>
                <p style="font-size: 18px;">
                    O objetivo inicial é promover a informação e formação do terceiro setor para o uso de ferramentas administrativas atuais na gestão própria e construção de projetos.
                    A Região Metropolitana do Vale do Paraíba - RMV - é composta por centenas de empresas de grande, médio e pequeno porte, com cotas proporcionais ao seu tamanho.
                    A Lei de responsabilidade fiscal e social nos força a compartilhar a solução dos problemas sociais e realização de projetos. No entanto é necessário que o terceiro setor profissionalize sua administração interna e tenha seus registros transparentes para a realização de parcerias.
                </p>
            </div>            
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
          <div class="card light-blue accent-4">
            <div class="card-content white-text">
                <span class="card-title" style="font-size: 25px;"><b>A relevância do projeto social para a sociedade</b></span>
                <p style="font-size: 18px;">
                    Atualmente com o aumento do surgimento de novas ONGs e a existência de demanda do primeiro e segundo setor e da sociedade civil, o terceiro setor está em um momento de reestruturação.
                    Hoje não se permite uma administração assistencialista. O terceiro setor tem que se profissionalizar para poder se auto gerir.
                </p>
            </div>            
          </div>
        </div>
    </div>     


