<div class="container center">
  <p style="font-size: 35px;">Esqueceu a senha?</p>
  
  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <p class="center" style="font-size: 18px;">Não se preocupe! Insira seu e-mail abaixo para receber um link e resetar a sua senha.</p>
      <div class="input-field">        
        <%= f.email_field :email, placeholder: "seuemail@email.com", class: "validate", required: :true %>
      </div>

      <div class="input-field">
        <%= f.submit "Resetar", class: "waves-effect waves-light btn" %>          
      </div>
    <% end %>
  </div>
</div>
