<div class="container center">
  <p style="font-size: 35px;">Eventos</p>
</div>

<div class="right">       
    <% if current_user and current_user.admin? %>
        <%= link_to new_evento_path, class: "waves-effect waves-light btn" do %>
            <%= material_icon.add_circle %>
        <% end %>       
    <% end %>  
</div>

<div class="center">  

    <table class="highlight bordered responsive-table">
        
        <head>
            <tr>
                <th>Titulo</th>
                <th>Descricao</th>
                <th>Data</th> 
                <th>Local</th>  
                <th>Documento</th>                 
            </tr>
        </head>

         
        <%= render @eventos %>

    </table>        

     
  
</div>