<p>Olá <%= @resource.name %>!</p>

<p>Estamos enviando este email para notificá-lo que sua senha foi alterada.</p>

<p>Se não requisitou esta alteração, favor entrar em contato com a Equipe Elabore.</p>

<p>Obrigado,</p>
<p>Equipe Elabore</p>
