
<footer class="page-footer light-blue accent-4">
    <div class="footer-copyright">
        <div class="container">
            © <%= Date.today.year %> Projeto Elabore        
        </div>
    </div>
</footer>